/* Resetando estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #D9D9D9;
}

.container {
    display: flex;
    height: 400px;
    width: 650px;
    background: white;
    border-radius: 10px;
    
  
}

/* Área da esquerda (boas-vindas) */
.welcome-box {
    width: 50%;
    background-color: #0d4e56;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 105px 105px 10px;
}

.welcome{
    color: white;
    text-align: center;
    padding: 40px;

}
.welcome-box h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.welcome-box p {
    font-size: 14px;
    margin-bottom: 20px;
}

/* Botão de cadastro */
.welcome-box .btn {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.welcome-box .btn:hover {
    background-color: #fff;
    color: #1c5b5e;
}

/* Área de login */
.login-box {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
#login{
    flex-direction: column;
    display: flex;
    gap: 15px;
    width: 100%;
    color: #0d4e56;
}

.login-box h2 {
    color: #1c5b5e;
    margin-bottom: 20px;
}

/* Estilização dos inputs */
input {
    padding: 10px;
    border: none;
    background: none;
    outline: none;
}

.input ::placeholder{
    color: #0d4e56;
}

.btn {
    background-color: #0d4e56;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #144447;
}

/* Texto abaixo do botão */
.login-box p {
    margin-top: 10px;
    font-size: 14px;
}

/* Botão de cadastro na área de login */
.login-box #cadastroBtn {
    background-color: transparent;
    color: #1c5b5e;
    margin-top: 10px;
}

.input ::placeholder{
    color: #0d4e56;
}
