body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #0f4c5c;
    color: white;
    display: flex;
    justify-content: center;
    padding: 15px;
}

.header-container {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

#cardPrincipal {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#produto {
    width: 65%;
    background: white;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    border: 2px solid #19535F;
}

#backBtn a, h2 {
    text-decoration: none;
    font-size: 30px;
    color: #0f4c5c;
    font-weight: bold;
}

#areaPagamento {
    width: 30%;
    background: #0f4c5c;
    padding: 20px;
    border-radius: 0 10px 10px 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#endereco {
    width: 100%;
}

.tabs {
    display: flex;
    padding-bottom: 1.5rem;
}

.tabs button {
    background: none;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
}

.tabs .active {
    border-bottom: 2px solid white;
    font-weight: bold;
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 20px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
}

hr{
    border-width: 3px;
}

.resumo p {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.total {
    font-weight: bold;
    color: #00ff00;
}

.finalizar {
    background: none;
    border: 2px solid white;
    color: white;
    padding: 10px;
    width: 100%;
    border-radius: 25px;
    cursor: pointer;
    font-size: 24px;
}