* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    text-decoration: none;
}

.desc{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 94%;
    height: 35%;
    margin-left: 16px;
    & .card4{
        position: absolute;
        bottom: 0;
    } & .card3{
        margin-top: 9px;
        /* position: absolute;
        bottom: 0; */
    }
}
.borda{
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #D0D5EE;
    display: flex;
    align-items: center;
}
.infoProduto{
    width: 220px;
    height: 295px;
    position: absolute;
    transition: 0.3s ease-in-out;
}

.produto {
    position: relative;
    background-color: #19535F;
    width: 220px;
    height: 295px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    /* transition: transform 0.3s ease;  */
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    align-items: center;
    
    &:hover{
        & .infoProduto{
            /* transform: scale(1.05); */
            filter: blur(1.5px);
            
        }
        & .ctaCardProduto{
            height: auto;
            display: flex;
            flex-direction: column;
            opacity: 1;
            gap: 30px;
            top: 50%;
            transition: 0.5s ease-in-out;
            transform: translateY(-50%);
            position: absolute;
            width: 192px;

        } & a{
            color:  #19535F;
            font-size: larger;
            font-weight: bold;
        }
    }

    & .nomeProduto, .precoProduto{
        font-family: "Inter", serif;
        font-weight: 600;
        color: #FFF;
        line-height: 18.15px;
        font-size: 15px;
    }

    & .ctaCardProduto{
        height: auto;
        overflow: hidden;
        position: relative;
        z-index: 999;
        bottom: 0;
        opacity: 0;
    } 
}
.options{
    gap: 15px;
    display: flex;
    flex-direction: column;
}
.main-box{
    background-color: #FEFFE9;
    width: 180px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border-radius: 17px;
    margin-left: 6px;
    box-shadow: rgb(30 30 30 / 28%) 1px 4px 4px;
    
    & img, h1 {
        background-color: #FEFFE9;
    }
}
.del-box{
    margin-left: 6px;
    background-color: #FEFFE9;
    width: 180px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border-radius: 17px;
    box-shadow: rgb(30 30 30 / 28%) 1px 4px 4px;


    & img, h1 {
        background-color: #FEFFE9;
        /* border-radius: 20px; */
    }
}
.del-box:hover, .main-box:hover{
    transform: scale(1.03);
}


#secProduto {
    display: grid;
    grid-template-columns: repeat(5, 300px);
    justify-content: center;
    gap: 15px;
    margin-top: 100px;
    
}

.divImgProd{
    width: 87%;
    height: 65%;
    background-color: rgb(255, 255, 255);
    border-radius: 17%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 14px;
    & img {
        border-radius: 12px;
        border-radius: 17%;
        width: 80%;
        height: 80%;
        object-fit: contain;
        
    }
}